.toolbar_button button{
	padding:0;
	text-align:center;
}
.qacards .webix_dataview_item{
	line-height: 24px;
	padding-top:10px;
}
.userphoto, .userpic{
	width:60px;
	height:60px;
	float:left;
	margin:0px 10px 10px 0px;
}
.userpic{
	background-color:#1a73c7;
  	color:#fff;
  	text-align:center;
	line-height:55px;
	font-size:33px;
}
.money{
	float:right;
	color:#aaa;
	display:block;
}
.qaname{
	font-weight:bold;
	display:block;
}
/* .stars.star0 {
	background-image: url('../../data/stars00.gif');
}
.stars.star1 {
	background-image: url('../../data/stars01.gif');
}
.stars.star2 {
	background-image: url('../../data/stars02.gif');
}
.stars.star3 {
	background-image: url('../../data/stars03.gif');
}
.stars.star4 {
	background-image: url('../../data/stars04.gif');
}
.stars.star5 {
	background-image: url('../../data/stars05.gif');
} */
