.toolbar_button button{
	padding:0;
	text-align:center;
}
.qacards .webix_dataview_item{
	line-height: 24px;
	padding-top:10px;
}
.userphoto, .userpic{
	width:60px;
	height:60px;
	float:left;
	margin:0px 10px 10px 0px;
}
.userpic{
	background-color:#1a73c7;
  	color:#fff;
  	text-align:center;
	line-height:55px;
	font-size:33px;
}
.money{
	float:right;
	color:#aaa;
	display:block;
}
.qaname{
	font-weight:bold;
	display:block;
}
.stars{
	display:block;
}
